@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
body {
  margin: 0;
  color: #3b3663;
  font-family: 'Rubik', sans-serif;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./img/background.jpg);
  background-repeat: no-repeat;
  background-position: top right;
}

/* .main {
} */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn1 {
  margin: 70px 0px;
  background: #6254e7;
  color: #fff;
  padding: 17px;
  border-radius: 8px;
  border: none;
}

/* Navbar CSS */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 90vw; */
  margin: 0 auto;
  padding: 1rem 5rem;
}

ul {
  display: flex;
  list-style: none;
}

li {
  margin: 0 20px;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

/* Home page */
.welcome-section {
  width: 25vw;
  margin-left: 6rem;
  margin-top: 4rem;
}

.welcome-section h1 {
  width: 24vw;
  font-size: 3rem;
}

.service {
  margin: 50px 0px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card1 {
  display: flex;
  flex-direction: row;
}
.heading {
  justify-content: center;
  align-items: center;
}

.home-page {
  background-image: url(./img/background.jpg);
  background-repeat: no-repeat;
  background-position: top right;
}

.service-page {
  background-image: url(./img/service-bg.jpg);
  background-repeat: no-repeat;
  /* background-position: top right; */
}

.s-heading {
  text-align: center;
  padding-top: 10rem;
  color: #fff;
  margin-bottom: 5px;
}

.s-heading h1 {
  padding-bottom: 5rem;
}

.service-section1 {
  display: flex;
  flex-direction: row;
  margin-top: 5rem;
  padding: 2px;
  margin-left: 3.5rem;
}

.service-section1 img {
  margin-left: 10rem;
}

.service-section1 p {
  width: 35vw;
  font-weight: 400;
  line-height: 1.5;
}

.service-section1 h2 {
  font-weight: bold;
  line-height: 1.5;
  padding: 10px 0px;
}

.section1-right {
  margin-left: 5rem;
}

.price {
  background: chartreuse;
  height: 15rem;
  border: 2px solid red;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.pricing {
  text-align: center;
}

.price-card {
  margin: 2rem;
}

.service-section3 {
  display: flex;
  flex-direction: row;
}

.service-section {
  width: 85vw;
  margin: 10rem auto;
  /* margin-left: 150px;
  margin-top: 4rem; */
}

.service-head {
  text-align: center;
  width: 400px;
  margin: 0 auto;
}

.service-wrapper {
  margin-top: 4rem;
}

/* footer */

.footer {
  background: rgb(160, 46, 160);
  height: 500px;
  width: 100%;
  color: #fff;
}

.footer-info {
  width: 75vw;
  margin: 6rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
}

.footer-services {
  width: 75vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.f-about {
  width: 350px;
}

.copyright {
  margin-top: 6rem;
  text-align: center;
}

.why-us-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
  width: 85vw;
}

.why-us-section h2 {
  text-align: left;
  margin-bottom: 2rem;
}

.why-info {
  width: 500px;
  margin-top: 5rem;
  margin-left: 6rem;
}

.contribution-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cs-i h1 {
  font-size: 4rem;
}

.cs-p {
  width: 20vw;
  margin-left: 6rem;
}

/* @media screen and (max-width: '800px') {
  .why-us-section {
    width: 10vw;
  }
} */

/* homepage-exp-section  */

.exp-section {
  background-image: url(./img/figure-image1-1.png);
  background-repeat: no-repeat;
  background-position: left;
  /* background-size: 50%; */
  height: 100vh;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  width: 85vw;
}

.get-in-touch {
  width: 300px;
  margin-left: 6rem;
  margin-top: 6rem;
  margin-right: 10rem;
}

.tech-depth {
  width: 30vw;
  color: #3b3663;
  margin-top: 6rem;
  margin-left: 6rem;
}

/* Homepage-outsourcing section  */

.outsourcing-section {
  background-image: url(./img/figure_image2-1.png);
  background-repeat: no-repeat;
  background-position: right;
  /* background-size: 50%; */
  height: 100vh;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  width: 85vw;
}

/* About us Page  */

.about-us-section {
  width: 75vw;
  margin: 0 auto;
  background-image: url(./img/about_us_img_02-1.jpg);
  background-repeat: no-repeat;
  background-position: top right;
  margin-top: 10rem;
  display: flex;
  align-items: center;
}

header {
  text-align: center;
  color: #fff;
  font-weight: bold;
  margin-top: 5rem;
}

.abt-ph {
  width: 350px;
}

.abt-p {
  width: 500px;
}

/* what we do section  */

.WVD-header {
  margin-top: 6rem;
  text-align: center;
}

.WVD-section {
  width: 75vw;
  margin: 0 auto;
  background-image: url(./img/about_us_img_01-1.png);
  background-repeat: no-repeat;
  background-position: left;
  margin-top: 2rem;
  align-items: center;
  /* background: #000; */
}

.WVD-info {
  /* position: relative; */
  margin-left: 50rem;
}

.WVD-info p {
  width: 300px;
}

.cards-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 75vw;
  margin: 2rem auto;
  text-align: center;
}

.card {
  padding: 0 43 px 57 px 43 px;
  background-color: #f9f8ff;
  border-radius: 10 px 10 px 10 px 10 px;
  height: 200px;
  width: 400px;
  display: block;
}

.WCU-section {
  width: 75vw;
  margin: 0 auto;
  background-image: url(./img/home_img-03-1.png);
  background-repeat: no-repeat;
  background-position: left;
  margin-top: 10rem;
  /* padding-top: 15rem; */
  align-items: center;
}
/* margin-top: 5rem;
  padding: 2px;
  margin-left: 3.5rem;

 
} */

.service-section3 p {
  width: 35vw;
  font-weight: 400;
  line-height: 1.5;
  font-weight: bold;
}

.service-section3 h2 {
  font-weight: bold;
  line-height: 1.5;
  padding: 0px 0px;
}

.service-section3 img {
  margin-left: 0;
  margin-bottom: 2rem;
  height: auto;
  width: 715px;
  max-width: 100%;
}

.section3-right {
  margin-left: 5rem;
  margin-top: 3rem;
}

.analysis-form {
  margin-right: 8rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(12rem, 20rem));
  gap: 2rem;
  justify-content: center;
}

.analysis-form input {
  border: none;
  border-bottom: 1px solid #c0baf6;
}
