@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
body {
  margin: 0;
  color: #3b3663;
  font-family: 'Rubik', sans-serif;
  font-weight: 800;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./img/background.jpg);
  background-repeat: no-repeat;
  background-position: top right;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn1 {
  margin: 70px 0px;
  background: #6254e7;
  color: #fff;
  padding: 17px;
  border-radius: 8px;
  border: none;
}

/* Navbar CSS */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 90vw; */
  margin: 0 auto;
  padding: 1rem 5rem;
}

ul {
  display: flex;
  list-style: none;
}

li {
  margin: 0 20px;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}

/* Home page */
.welcome-section {
  width: 25vw;
  margin-left: 150px;
  margin-top: 4rem;
}

.welcome-section h1 {
  width: 24vw;
  font-size: 3rem;
}

.service {
  margin: 50px 0px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: row;
}

.service-section {
  width: 85vw;
  margin: 10rem auto;
  /* margin-left: 150px;
  margin-top: 4rem; */
}

.service-head {
  text-align: center;
  width: 400px;
  margin: 0 auto;
}

.service-wrapper {
  margin-top: 4rem;
}

/* footer */

.footer {
  background: rgb(160, 46, 160);
  height: 500px;
  width: 100%;
  color: #fff;
}

.footer-info {
  width: 75vw;
  margin: 6rem auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 2rem;
}

.footer-services {
  width: 75vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

.f-about {
  width: 350px;
}

.copyright {
  margin-top: 6rem;
  text-align: center;
}

.why-us-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3rem;
  width: 80vw;
}

.why-us-section h2 {
  text-align: left;
  margin-bottom: 2rem;
}

.why-info {
  width: 500px;
  margin-top: 5rem;
}

.contribution-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cs-i h1 {
  font-size: 4rem;
}

.cs-p {
  width: 20vw;
  margin-left: 6rem;
}

/* @media screen and (max-width: '800px') {
  .why-us-section {
    width: 10vw;
  }
} */

/* homepage-exp-section  */

.exp-section {
  background-image: url(./img/figure-image1-1.png);
  background-repeat: no-repeat;
  background-position: left;
  /* background-size: 50%; */
  height: 100vh;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  width: 85vw;
}

.get-in-touch {
  width: 300px;
  margin: 2rem auto;
}

.tech-depth {
  width: 30vw;
  color: #3b3663;
  margin-left: 10rem;
}

/* Homepage-outsourcing section  */

.outsourcing-section {
  background-image: url(./img/figure_image2-1.png);
  background-repeat: no-repeat;
  background-position: right;
  /* background-size: 50%; */
  height: 100vh;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  width: 85vw;
}
