@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
body {
  margin: 0;
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Navbar CSS */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 90vw; */
  margin: 0 auto;
  padding: 1rem 2rem;
}

ul {
  display: flex;
  list-style: none;
}

li {
  margin: 0 20px;
}

a:-webkit-any-link {
  text-decoration: none;
  color: inherit;
}
